<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!--<bean id="accountService" class="spring.service.ImpAccountService">
         <property name="accountDao" ref="accountDao"/>
     </bean>

     <bean id="accountDao" class="spring.dao.ImpAccountDao">
         <property name="runner" ref="queryRunner"/>
     </bean>
     <bean id="queryRunner" class="org.apache.commons.dbutils.QueryRunner" scope="prototype">
     &lt;!&ndash;保证是多例对象，否则多个数据库操作是会产生线程安全问题&ndash;&gt;
        <constructor-arg name="ds" ref="dataSource"/>
    </bean>
-->



<!--    learn中的类，学习如何配置aop          -->
    <!--<context:component-scan base-package="learn.proxy.aopTx"/>
    <aop:aspectj-autoproxy/>-->
   <bean id="accountService1" class="learn.proxy.aopTx.ImpAccountService"/>
    <bean id="logPrinter1" class="learn.proxy.aopTx.LogPrinter"/>
    <aop:config>
        <aop:pointcut id="pc1" expression="execution(* learn.proxy.aopTx.*.*(..))"/>
        <aop:aspect id="log" ref="logPrinter1">
            <!--

            <aop:before method="beforeLog" pointcut-ref="pc1"/>
            <aop:after-returning method="afterReturnPrintLog" pointcut-ref="pc1"/>
            <aop:after-throwing method="afterThrowingPrintLog" pointcut-ref="pc1"/>
            <aop:after method="afterPrintLog" pointcut-ref="pc1"/>

            -->
            <aop:around method="aroundPrintLog" pointcut-ref="pc1"/>
        </aop:aspect>
    </aop:config>
<!--    learn中的类，学习如何配置aop          -->

    <bean id="dataSourceTx" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/springdbutils?serverTimezone=UTC"/>
        <property name="user" value="root"/>
        <property name="password" value="luohepeng"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceTx"/>
    </bean>

    <tx:advice id="txAdvisor" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="transfer" isolation="DEFAULT" read-only="false" propagation="REQUIRED" timeout="-1"/>
            <tx:method name="findAll" isolation="DEFAULT" read-only="true" propagation="SUPPORTS" timeout="5"/>
            <tx:method name="find*" timeout="1" read-only="true"/>          <!--可以使用通配符*来进行配置-->
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="pc11" expression="execution(* spring.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvisor" pointcut-ref="pc11"/>
    </aop:config>
</beans>